* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* BEGIN NAV BAR */
.nav-bar{
  position: fixed;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-bar div:last-child {
  display: flex;
  align-items: center;
}

.nav-bar a {
  margin: 0px 20px;
  color: rgba(52, 51, 51);
  text-decoration: none;
}

.logo {
  color: rgb(138, 223, 244);
  text-shadow: 2px 2px 3px black;
  font-size: 35px;
  margin-left: 20px;
}

.logo-anchor {
  margin-left: 0px !important;
}
/* END NAV BAR */

/* BEGIN HOME */
#home {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/90WEBtransparentbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

#home h1 {
  color:white;
  text-shadow: 8px 2px 5px black;
  font-size: 65px;
}

.inky {
  color: rgb(138, 223, 244);
  text-shadow: 8px 2px 5px black;
  font-size: 85px;
}

.banner-container {
  width: 100%;
  background-color: rgba(52, 51, 51, 0.5);
  padding: 0px 0px 20px 0px;
}

.for-everyone {
  color:white;
  font-size: 35px;
  text-shadow: 1px 1px 1px black;
}

.for-everyone strong {
  color: rgb(138, 223, 244);
  text-shadow: 2px 2px 3px black;
}

.copyright {
  font-size: 12px;
}

.btn-bnr {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  box-shadow: none;
  color: white;
  border:1px solid rgb(138, 223, 244);
  border-radius: 2px !important;
}

.btn-bnr:hover  {
  color:rgb(39, 38, 39);
  background: rgb(138, 223, 244, 0.90) !important;
}

.btn-bnr:active {
  background: transparent !important;
  box-shadow: none !important;
  color: white !important;
  border:1px solid rgb(138, 223, 244) !important;
}
/* END HOME */

/* BEGIN DASHBOARD */
.dashboard {
  /* display: block; */
  justify-content: center;
  height: 100% !important;
}

.dash-table {
  margin-top: 30px;
}

.user-profile-view-btn-container {
  padding-bottom: 35px;
}

/* END DASHBOARD */

/* BEGIN ABOUT */
.about, .dashboard, .application, .user-signup, .tattoer-signup {
  color: black !important;
  padding-top: 95px;
  text-align: center;
  background-image: url(./assets/about_background.jpg);
  background-size: 50%;
  background-repeat: repeat;
  height: 100vh;
}

.about-inky {
  color: rgb(138, 223, 244);
  text-shadow: 2px 2px 3px black;
}

.about-support {
  padding: 20px 100px 0px;
  font-size: 20px;
}

.btn-abt {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  box-shadow: none;
  color: rgb(39, 38, 39);
  border:1px solid rgb(138, 223, 244);
  border-radius: 2px !important;
}

.btn-abt:hover  {
  color:white;
  text-shadow: 1px 1px 2px black;
  background: rgb(138, 223, 244, 0.90) !important;
}

.btn-abt:active {
  background: transparent !important;
  box-shadow: none !important;
  color: rgb(39, 38, 39) !important;
  border:1px solid rgb(138, 223, 244) !important;
}
/* END ABOUT */

/* MODAL START */
.applyModal a, .applyModal h4 a, .applyModal span, .signup-modal a{
  text-decoration: none;
  color: rgb(138, 223, 244);
  text-shadow: 2px 2px 3px black;
}

.applyModal a:hover, .applyModal h4 a:hover, .signup-modal a:hover{
  color: rgb(39, 38, 39);
  text-shadow: none;
}
/* MODAL END*/

/* APPLICATION BEGIN */
.app-form {
  padding-top: 30PX;
}

.apply-btn {
  border:1px solid black;
}
/* APPLICATION END */

/* USER SIGNUP BEGIN */
.user-signup {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  height: 100%;
}

.signup-form-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;

}

.signup-form-container form div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 25px;
}

.signup-form-container form div input {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.signup-form-container form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(138, 223, 244);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.signup-form-container form button:hover {
  background-color: #0056b3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-small {
  color: rgb(205, 26, 26)
}

.app-review {
  margin-top: 50px;
}
/* USER SIGNUP END */

/* FOOTER BEGIN */
footer {
  text-align: center;
  padding: 13px 0px 1px;
  width: 100%;
  border-top: 1px solid rgb(237, 236, 236);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  bottom: 0;
}
/* FOOTER END */

/* LOGIN BEGIN */
.login {
  color: rgba(52, 51, 51);
}

.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-modal form {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 10px; 
  align-items: center; 
}

.login-modal form div {
  display: contents; /* Makes the div not affect layout, letting label and input directly partake in the grid */
}

.login-checkbox {
margin-left: -260px;
}

/* LOGIN END */
