span {
  font-size: 12px;
}
html, body {
  margin: 0px;
  height: 100%;
}

#home {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/transparentbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

.logo {
  color: rgb(138, 223, 244);
  text-shadow: 2px 2px 3px black;
  font-size: 35px;
}

#home h1 {
  color:white;
  text-shadow: 8px 2px 5px black;
  font-size: 100px;
}

.inky {
  color: rgb(138, 223, 244);
  text-shadow: 8px 2px 5px black;
  font-size: 100px;
}

.banner-container {
  width: 100%;
  background-color: rgba(52, 51, 51, 0.5);
  padding: 20px;
  border-radius: 1px; 
}

.for-everyone {
  color:white;
  font-size: 30px;
  text-shadow: 5px 2px 5px black;
}

.btn-bnr {
  color: black;
  background: rgb(138, 223, 244);
background: linear-gradient(0deg, rgb(138, 223, 244, 1) 15%, rgb(138, 209, 251)100%);
  width: 230px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border:1px solid black;
  
}
/* .btn-bnr span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
} */
/* .btn-bnr:before,
.btn-bnr:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
} */
/* .btn-bnr:before {
  height: 0%;
  width: 2px;
}
.btn-bnr:after {
  width: 0%;
  height: 2px;
} */
.btn-bnr:hover{
  background: transparent;
  box-shadow: none;
  color: white;
  text-shadow: 5px 2px 5px black;
  border:1px solid rgb(138, 223, 244);
}
/* .btn-bnr:hover:before {
  height: 100%;
}
.btn-bnr:hover:after {
  width: 100%;
} */
/* .btn-bnr span:hover{
  color:rgb(138, 223, 244);
} */
/* .btn-bnr span:before,
.btn-bnr span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(138, 223, 244);
  transition: all 0.3s ease;
} */
/* .btn-bnr span:before {
  width: 2px;
  height: 0%;
}
.btn-bnr span:after {
  width: 0%;
  height: 2px;
}
.btn-bnr span:hover:before {
  height: 100%;
}
.btn-bnr span:hover:after {
  width: 100%;
} */