span {
  font-size: 12px;
}
html, body {
  margin: 0px;
  height: 100%;
}

#home {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/transparentbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

#home h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.home {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

.banner-container {
  width: 100%;
}
